/*:root {*/
/*    green: ;*/
/*}*/

.col {
    width: 250px !important;
    height: 250px !important;
    /*margin-block: 30px;*/
    margin: 30px;
}

.card {
    width: 100%;
    margin: 30px;
}

.wd-card-link-no-decoration {
    text-decoration: none;
}

.wd-course-img-height-125px {
    min-height: 125px;
}

.wd-course-solid-green {
    background-color: darkolivegreen;
}

.wd-course-card-img-button-white svg {
    color: white;
}

.wd-course-card-img-button-white svg:hover {
    color: white;
    filter: drop-shadow(0px 0px 5px lightgrey);
}

.card-title {
    color: darkolivegreen !important;
}

.card-subtitle,
.card-text {
    color: grey ;
}

.wd-course-card-icon-grey {
    color: grey;
}